.channelTitle {
  font-size: 24px;
  margin-left: 0px;
  text-decoration: wavy underline;
  color: white;
}

.channels {
  position: absolute;
  left: 0;
  top: 110px;
  margin-left: 30px;
  background-color: #6e07f3;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.hashTag {
  position: absolute;
  text-align: left;
  left: 10px;
  color: #5BE9B9;
}

.channelListItems {
  cursor: pointer;
  margin-bottom: -10px;
  font-size: 18px;
  padding-left: 20px;
}

.channelListItems:hover {
  background-color: #5BE9B9;
  border-radius: 5px;
}

.channelHeading {
  margin-top: 0px;
}

.createChannel {
  margin-top: -15px;
  margin-bottom: 5px;
}

.chatCenter {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 220px;
  margin-right: 60px;
}

.chatHolder {
  display: grid;
  grid-template-rows: 1fr 100px;
  border: 2px solid #eee;
  border-radius: 25px;
  width: 550px;
  height: 55vh;
}

.chatText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  height: 100%;
  overflow-y: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.typeIndicator {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.typeIndicator:has(span) {
  /* color: white; */
  font-size: 22px;
}

.author {
  font-weight: bold;
  font-size: 18px;
  color: #6e07f3;
}

.authorMe {
  font-weight: bold;
  font-size: 18px;
  color: #6ce4bc;
}

.messageImgMe {
  border-radius: 100px; 
  margin-right: 5px;
}

.messageImg {
  border-radius: 100px; 
  margin-left: 5px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 100px;
  border-top: 1px solid #eee;
}

.messages {
  display: flex; 
  flex-direction: row; 
  align-items: flex-start;
}

.parsedMsgMe {
  font-size: 20px;
}

.parsedMsg {
  font-size: 20px;
}

.messages:has(.messageMe) {
  align-self: flex-start;
  color: white;
}

.messages:has(.message) {
  align-self: flex-end;
}

.message {
  background-color: lightgrey;
  text-align: left;
  padding: 1em;
  border-radius: 10px;
  flex-grow: 0;
  border-top-right-radius: 0;
}

.messageMe {
  background: linear-gradient(90deg,  #aa53f2 0%, 62%, #7061f1 100%);
  text-align: left;
  padding: 1em;
  border-radius: 10px;
  flex-grow: 0;
  border-top-left-radius: 0;
}

.newChannelButton {
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  background: linear-gradient(to right, #6e07f3, #5BE9B9);
  margin-left: 5px;
}

.newChannelButton:hover {
  background: linear-gradient(90deg, #6e07f3 0%, #5BE9B9 62%, #5BE9B9 100%);
}

.createChannelInput {
  line-height: 1.5;
  border-radius: 5px;
  margin-bottom: 2px;
}

.button {
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  background: linear-gradient(to right, #6e07f3, #5BE9B9);
}

.button:hover {
  background: linear-gradient(90deg, #6e07f3 0%, #5BE9B9 62%, #5BE9B9 100%);
}

.button:disabled, 
.button:hover:disabled {
  background: linear-gradient(to right, #5BE9B9, #6e07f3);
  opacity: 0.5;
}

@media screen and (max-width: 1600px) {
  .chatHolder {
    width: 500px;
  }
}


@media screen and (max-width: 1020px) {
  .chatHolder {
    width: 400px;
  }

}

@media screen and (max-width: 750px) {
  .chatHolder {
    width: 300px;
  }

  .chatCenter {
    left: 150px;
  }

  .channels {
    margin-left: 10px;
  }

  .channelTitle {
    font-size: 20px;
    margin-left: 0px;
  }

  .channelListItems {
    font-size: 15px;
  }

  .chatText {
    font-size: 15px;
  }

  .author {
    font-size: 15px;
  }

  .authorMe {
    font-size: 15px;
  }

  .message {
    font-size: 15px;
  }

  .messageMe {
    font-size: 15px;
  }

  .messages {
    font-size: 15px;
  }

  .newChannelButton {
    font-size: 15px;
  }

  .createChannelInput {
    font-size: 15px;
  }

  .button {
    font-size: 15px;
  }

  .button:hover {
    font-size: 15px;
  }

  .button:disabled, 
  .button:hover:disabled {
    font-size: 15px;
  }

}

@media screen and (max-width: 500px) {

}



