.chatHolder {
  display: grid;
  grid-template-rows: 1fr 100px;
  border: 2px solid #eee;
  width: 1000px;
  height: 60vh;
}

.chatText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  height: 100%;
  overflow-y: auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr 100px;
  border-top: 1px solid #eee;
}

.button {
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  background: linear-gradient(to right, #6e07f3, #5BE9B9);
}

.button:hover {
  background: linear-gradient(90deg, #6e07f3 0%, #5BE9B9 62%, #5BE9B9 100%);
}

.button:disabled, 
.button:hover:disabled {
  background: linear-gradient(to right, #5BE9B9, #6e07f3);
  opacity: 0.5;
}

.message {
  background-color: lightgrey;
  padding: 1em;
  border-radius: 10px;
  flex-grow: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 1020px) {
  .chatHolder {
    width: 100%;
  }
}