@tailwind base;
@tailwind components;
@tailwind utilities;

.live-cursors-container {
  @apply w-full flex justify-center items-center relative;
  
  background-color: transparent;
  height: 100vh;
}

.member-name-lock {
  position: absolute;
  top: -24px;
  right: 6px;
  width: auto;
  height: 24px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  background-color: green;
  color: white;
  border-radius: 4px 4px 0px 0px;
  z-index: 1;
  gap: 4px;
}

.replyMsg {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 5px 10px;
  color: black;
  font-size: 14px;
}

.replyMsgPara {
  font-size: 14px;
}

.replyIcon {
  font-size: 20px;
  margin-top: 50px;
  margin-right: 5px;
  padding: 3px;
  background-color: #5BE9B9;
  border-radius: 5px;
}

.moving{
  position: absolute;
  z-index: 20;
  margin: 0;
  margin-top: 3px;
}

p.chatText {
  margin: -10px -10px -10px -10px;
}

span#other {
  margin-left: calc(100% - 60px);
}

em#date{
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

html {
  background-image: url('../assets/bg.png');
  background-size: 100%; 
}

img#vercel {
  height: 20px;
}

img#ably {
  height: 42px;
}

img#tiny {
  height: 32px;
}
