.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trackchat {
  height: 75px;
  position: absolute;
  margin-left: 30px;
  margin-top: 1px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 10;
}

.AppBar {
  background-color: #6e07f3 !important;
}

.headlineTitle {
  font-size: 64px;
  color: white;
  margin-top: 150px;
  font-family: 'Gill Sans', sans-serif;
  background-color: #6e07f3;
  border-radius: 20px;
  width: 700px;
}

.summary {
  font-size: 24px;
  color: white;
  font-weight: 300;
  font-family: 'Gill Sans', sans-serif;
  padding: 10px;
  background-color: #6e07f3;
  border-radius: 20px;
  width: 700px;
}

.authProviders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  z-index: 10;
}

.coverImg1 {
  position: absolute;
  bottom: 280px;
  right: 0;
  z-index: 1;
}

.coverImg2 {
  position: absolute;
  bottom: 75px;
  left: 0;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  z-index: -1;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
}

.links {
  text-decoration: none;
  color: white;
  font-size:1.2rem;
}
.links:hover {
  text-decoration: underline;
}

.accessDenied {
  position: absolute;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.accessDenied h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

.logInImg {
  margin-top: 10px;
  border-radius: 15px;
}
.logInImg:hover {
  box-shadow: 0 0 10px #6b6b6b;
}

.clickHere {
  text-decoration: none;
}

.welcome {
  position: absolute; 
  bottom: 20px;
  left: 20px; 
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.welcomeImg {
  border: 1px solid black; 
  border-radius: 50px; 
  display: inline-block;
  height: 8vh;
  width: 8vh;
}

.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.profilePage h1 {
  font-size: 64px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.profilePage p {
  color: #6e07f3;
  font-weight: 800;
}

.profilePage span {
  color: white;
  font-weight: 300;
}

.linkOut {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.btn {
  border-radius: 15px;
  width: 300px;
  padding-bottom: 6px;
  background-color: #6e07f3;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:hover {
  background-color: #5BE9B9;
}

.footer {
  height: 14vh;
  display: flex;
  flex-direction: row;
  border-top: 1px solid white;
  justify-content: right;
  align-items: center;
  color: white;
  width: 100%;
  background-color: #6e07f3;
  background-position: 0% 0%;
  box-shadow: inset 0 0 30px #000000;
  margin-top: 100px;
  z-index: -1;
  bottom: 0;
}

@media screen and (max-width: 899px) {
  .trackchat {
    right: 0px;
  }
}