.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem 0;
  border-top: 1px solid white;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 150px; 
  width: 100%;
  background-color: #6e07f3;
  background-position: 0% 0%;
  bottom: 0pt;
  box-shadow: inset 0 0 30px #000000;
}