.heading{
  color: #6e07f3;
  text-align: center  ;
}

.kabanMain {
  position: absolute;
  top: 110px;
  left: 80px;
}

.homeLink {
  color: white;
}

.columnsContainer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  overflow: scroll;
}

.kanbanBoard {
  display: flex; 
  width: 1400px;
  border: 5px solid #defaf1;
  border-radius: 10px;
  margin-top: 2px;
  background-color: #defaf1;
  box-shadow: 8px 5px 5px 1px #5BE9B9;
}

.inputNewGroup {
  line-height: 1.5;
  border-radius: 5px;
  margin-bottom: 2px;
} 

.button {
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  background: linear-gradient(to right, #6e07f3, #5BE9B9);
  margin-left: 5px;
}

.button:hover {
  background: linear-gradient(90deg, #6e07f3 0%, #5BE9B9 62%, #5BE9B9 100%);
}

.columnHeader {
  position: absolute;
  top: 40px;
  font-weight: bold;
  text-decoration: underline;
  border: 2px solid #eee;
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
  color: white;
  background: linear-gradient(90deg,  #aa53f2 0%, 62%, #7061f1 100%);
}

.columnHeaderInput {
  position: absolute;
  height: 20px;
  top: 75px
}

.taskCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  line-height: 1.5;
  color: white;
}

.taskTitle {
  margin-top: 0;
  margin-bottom: 0;
}

.taskInput {
  height: 20px; 
  width: 90%;
  position: relative;
  bottom: 90px;
}

.taskButton {
  width: 80px;
  font-weight: bold;
  font-size: 12px;
  align-self: center;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 1px;
  box-shadow: inset 0 0 5px;
}

.taskButtonDelete {
  width: 80px;
  align-self: center;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(197, 0, 0);
  color: white;
  box-shadow: inset 0 0 30px #9f0707; 
}

.id {
  text-align: right;
}

@media screen and (max-width: 1700px) {
  .kabanMain {
    width: 700px;
  }
  .columnHeader {
    font-size: 12px;
  }
}

@media screen and (max-width: 1600px) {
  .kabanMain {
    width: 600px;
  }

}

@media screen and (max-width: 1450px) {
  .kabanMain {
    width: 500px;
  }
  .taskButton & .taskButtonDelete {
    width: 80px;
    height: 25px;
    font-size: 12px;
  }

  .columnHeader {
    font-size: 10px;
  }
}


@media screen and (max-width: 1020px) {
 .kabanMain {
  width: 400px;
 }
 .taskButton & .taskButtonDelete {
  width: 60px;
  height: 20px;
  font-size: 10px;
 }
}

@media screen and (max-width: 750px) {
  .kabanMain {
    width: 300px;
  }
}